:root{
    --bleuclair: #32bb38;
    --bleuFonce: #b1e29e;
    --degrade: linear-gradient(var(--bleuclair),17%, var(--bleuFonce));
}

body{
    background-color: lightblue;
}
header, footer{
    background-color: var(--bleuclair);
    margin: 20px;
}
div{
    background :var(--degrade);
}
#toto{
    background-color: lime;
    border: 10px solid black;
}
.bR{
    border: red 1px solid;
}
.eB{
    color: blue; 
    border: blue 1px solid;
}

header .bR{
    color: red;
}